.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    /* Makes the scrollbar thin */
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: black;
    /* Sets the background to black */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Thumb color; adjust as needed */
    border-radius: 3px;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #555 black;
    /* Thumb color then track color */
}

.striped-background {
    background: repeating-linear-gradient(-45deg,
            #0063946e,
            #004b71 2px,
            #003a57bb 2px,
            #003a57 15px);
    background-color: #02567731;
    background-blend-mode: overlay;
    opacity: 0.9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}